body {
  background-color: #202020;
  text-align: center;
  color: red;
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
}

.bar {
    background-color: #FFFFFF;
    border-bottom: #000000;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}