body {
    background-color: #333333;
    text-align: center;
    color: #FF3F00;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
	cursor: url("cursor.png"), auto;
}
a {
    color: #FF3F00
}

.bar {
    background-color: #FFFFFF;
    border-bottom: #000000;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}

.bar h1 {
    font-size: 1.2em;
}
.bar a i {
    font-size: 2em;
    padding-top: 0.35em;
    padding-right: 0.3em;
    color: #FF3F00;
}
.bar .left {
    float: left;
    display: inline-block;
}
.bar .center {
    float: center;
    display: inline-block;
}
.bar .right {
    float: right;
    display: inline-block;
}
.bottom-bar {
    background-color: #80111111;
    border-bottom: #000000;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}
.logo {
    width:50px;
    height:50px;
    padding-left: 30px;
    padding-top: 2px;
}
#id {
    padding: 0px;
}
.buynow {
	height: 50px;
	position: center;
}

.parallax1 {
    margin: 0;
    padding: 0;
    display: block;
    /* The image used */
    background-image: url("parallax_1.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("parallax_2.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("parallax_3.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url("parallax_4.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parabox1 {
	background-color:#333333;
}

.parabox2 {
	/*height:300px;*/
	background-color:#333333;
}

.parabox3 {
	height:300px;
	background-color:#333333;
}

.parabox1txt {
	font-size:36px;
	font-color:white
}

.footer {
    background-color: white;
}
