body {
    background-color: #555555;
    text-align: center;
    color:#0b34a1;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    color: #0b34a1;
}

.bar {
    background-color: #FFFFFF;
    border-bottom: #000000;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}

.bar h1 {
    font-size: 1.2em;
}
.bar a i {
    font-size: 2em;
    padding-top: 0.35em;
    padding-right: 0.3em;
    color: #0b34a1;
}
.bar .left {
    float: left;
    display: inline-block;
}
.bar .center {
    float: center;
    display: inline-block;
}
.bar .right {
    float: right;
    display: inline-block;
}
.bottom-bar {
    background-color: #80111111;
    border-bottom: #000000;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}
.logo {
    height:50px;
    padding-left: 30px;
    padding-top: 2px;
}
#id {
    padding: 0px;
}
.buynow {
	height: 50px;
	position: center;
}

.parallax1 {
    margin: 0;
    padding: 0;
    display: block;
    /* The image used */
    background-image: url("drone2.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("drone3.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("drone.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url("drone.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parabox1 {
	background-color:#555555;
}

.parabox2 {
	/*height:300px;*/
	background-color:#FFFFFF;
}

.parabox3 {
	height:300px;
	background-color:#555555;
}

.parabox1txt {
	font-size:36px;
	font-color:white
}

.footer {
    background-color: white;
}
.social-bottom {
    font-size: 2em;
    padding-top: 0.35em;
    padding-right: 0.3em;
    color: #0b34a1;
}

@media only screen and (max-width: 500px) {
    .bar h1 {
        font-size: 3em;
    }
}
