body {
  background-color: #202020;
  text-align: center;
  color: #FF3F00;
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
}

.bar {
    background-color: #FFFFFF;
    border-bottom: #000000;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}

.bar h1 {
    font-size: 1.2em;
}
.bar a i {
    font-size: 2em;
    padding-top: 0.35em;
    padding-right: 0.3em;
    color: #FF3F00;
}
.bar .left {
    float: left;
     display: inline-block;
}
.bar .center {
    float: center;
     display: inline-block;
}
.bar .right {
    float: right;
     display: inline-block;
}
.logo {
  width:50px;
  height:50px;
  padding-left: 30px;
  padding-top: 2px;
}

.buynow {
	
	width: 320px;
	height: 90px;
	position: center;
	
	
}
.parallax {
    /* The image used */
    background-image: url("some_city.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parabox1 {
	height:1000px;
	background-color:#333333;
	align:center
}

.parabox1txt {
	font-size:36px;
	font-color:white
}

.footer {
  background-color: white;
}
